/* 유저 전용 */
body:not(.admin) #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 관리자 전용 */
body.admin #root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}